@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 17, 19, 21;
  --color-fg: 252, 252, 252;
  --color-dark-1: 27, 29, 31;
  --color-dark-2: 39, 43, 48;
  --color-primary: 11, 103, 233;
  --color-secondary: 185, 128, 218;
  --color-positive: 50, 174, 96;
  --color-negative: 240, 76, 26;

  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 800;
}

body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-fg));
}

* {
  outline: 0;
}

*:focus {
  outline: 2px solid rgb(var(--color-secondary), 0.75);
  border-radius: 4px;
}
